body {
    background-color: #1C1C1C;

}

p{
    color:white;
    text-align: center;
    border-radius: 2px;

}

h1{
    color:darkgray;
    text-align:center;
    border-radius: 5px;
}

p{
    font-size: 90%;

}

